VITE_BACKEND_DOMAIN=localhost:3000 # Requests runs through this server to mitigate CORS issues
VITE_IMAGE_BASE_URL=https://findbolig.nu # Where images are hosted
VITE_DEMO_MODE=false # build that is always the Demo, with no backend
